* {
  box-sizing: border-box;
}

:root {
  --max: 22rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.card {
  width: var(--max);
}

.cardImg {
  width: 100%;
  max-width: var(--max);
  height: calc(var(--max));
  object-fit: cover;
}
